<% rank = RatingsService.get_player_rank(player, @players) %>

<tr>
  <td> <%= rank %> </th>
  <td class="leaderboard_player_name"> <%= link_to player.name.titleize, player %> </td>
  <td class="leaderboard_record"> <%= player.won_matches %> - <%= player.lost_matches %></td>
  <td class="leaderboard_rating leaderboard_rating"> <%= player.get_rating.round(2) %> </td>
</tr>
