<% provide(:title, @player.name.titleize) %>
<% rank = RatingsService.get_player_rank(@player, @players, League.get_current_league_id) %>

<div class="player_info">
  <div class="row row-no-gutters">
    <div class="col-xs-10 col-xs-offset-1 player_stats">
      <div class="player_name player_rank_<%= rank %>">
        <%= @player.name.titleize %>
      </div>
      <div class="player_rank player_rank_<%= rank %>">
        #<%= rank %>
      </div>
      <div class="player_score">
        <%= @player.won_matches(League.get_current_league_id) %> - <%= @player.lost_matches(League.get_current_league_id) %> <span style="font-size:15px">|</span> <%= @player.get_rating.round(2) %>
      </div>

      <% if logged_in? && current_player.admin? && current_player.name == "andy" %>
        <%= form_with(url: player_activation_path(@player.id), method: "patch", 
                                                               local: true, 
                                                               data: { confirm: "You sure?" }) do |f| %>
          <%= hidden_field_tag :email, @player.email %>
          <%= hidden_field_tag :isActive, !@player.active %>
          <% if @player.active %>
            <% activation = "Deactivate" %>
          <% else %>
            <% activation = "Reactivate" %>
          <% end %>
          <%= f.submit activation, class: "hyperlink_button" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<% if @matches.any? %>
<div class="player_match_history">
  <%= render @matches %>
</div>
<div class="match_pagination">
  <%= will_paginate @matches %>
</div>
<% end %>
